!!!
%html
  %head
    %title SassBin, the HTML/SASS playground
  %body
    %header#header
      = haml :'partials/toolbar'
    #main
      = haml :main
    = css :app
    = haml :'partials/assets'
    = js :app
